<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <style type="text/css">
            html {
                height: 100%
            }
            body {
                height: 100%;
                margin: 0;
                padding: 0
            }
            #map-canvas {
                height: 100%
            }
        </style>

        <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&sensor=false"></script>

        <script type="text/javascript" src=" {{ js }}" ></script>
        
        <script type="text/javascript" >
            var center = new google.maps.LatLng( {{ LAT }}, {{ LONG }} );

            

            function initialize() {

                var mapOptions = {
                    zoom : {{ ZOOM }},
                    center : center,
                    mapTypeId : google.maps.MapTypeId.ROADMAP
                };

                var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                
                


                {% for reg in regulations %}
                    var path = [];


                     {% for sign in reg %}
                        var latlng = new google.maps.LatLng(   "{{ sign.latitude() }}" , "{{ sign.longnitude() }}" );
                        path.push(latlng);
                        var marker = new google.maps.Marker({
                                 position: latlng,
                                 map: map,
                                 title: " {{ sign.sg_order_n }}"
                        });
                        
                        google.maps.event.addListener(marker, 'mouseover', function (event) {
                            var infowindow = new google.maps.InfoWindow({
                                 content: decorateInfoWindow( "{{ sign.sg_order_n }}", "{{ sign.desc }}")
                            });
                            infowindow.open(map, this);
                         });
                        
                     {% endfor %}

                    var polypath = new google.maps.Polyline({
                        path : path,
                        strokeColor : "#585896",
                        strokeOpacity : 4.0,
                        strokeWeight : 4
                    });
                    polypath.setMap(map);
            
                  
                
               {% endfor %}

            }
            
            google.maps.event.addDomListener(window, 'load',initialize);
        </script>

    </head>
    <body>
        <div id="map-canvas"/>
    </body>
</html>
